# Compiled class file
node_modules
# Log file
*.log
target
# BlueJ files
*.ctxt
.settings
.classpath
.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ydms-service/src/main/resources/public/
